@use "../../scss/all" as *;
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.paragraph {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
}

.span {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
  display: inline-block;
}
.link {
  @include font($font-size-01, $font-weight-regular, $line-height-01, $blue-s1);
  display: inline-block;
}
.link.hover:hover {
  text-decoration: underline;
}
.paragraph_xs,
.span_xs,
.link_xs {
  @include font($font-size-00, $font-weight-regular, $line-height-01);
}
.paragraph_sm,
.span_sm,
.link_sm {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
}
.paragraph_md,
.span_md,
.link_md {
  @include font($font-size-02, $font-weight-regular, $line-height-02);
}
.paragraph_lg,
.span_lg,
.link_lg {
  @include font($font-size-03, $font-weight-regular, $line-height-03);
}
.paragraph_xl,
.span_xl,
.link_xl {
  @include font($font-size-04, $font-weight-regular, $line-height-04);
}
.paragraph_2xl,
.span_2xl,
.link_2xl {
  @include font($font-size-05, $font-weight-regular, $line-height-05);
}
.paragraph_3xl,
.span_3xl,
.link_3xl {
  @include font($font-size-06, $font-weight-regular, $line-height-06);
}
.h1 {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
}
.h2 {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
}
.h3 {
  @include font($font-size-02, $font-weight-regular, $line-height-01);
}
.h4 {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
}
.h5 {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
}
.h6 {
  @include font($font-size-01, $font-weight-regular, $line-height-01);
}

/* color */
.black {
  color: $black-s17;
}
.gray {
  color: $text-color-secondary-500;
}
.green {
  color: $yellow-s5;
}
.blue {
  color: $blue-s4;
}
.red {
  color: $red-s4;
}
.yellow {
  color: $yellow-s5;
}
.purple {
  color: $purple-s1;
}
/* text decoration */
.default {
  text-decoration: none;
}
.line_through {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.overline {
  text-decoration: overline;
}
.superline {
  text-decoration: underline overline;
}

/* truncate */
.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* alignment */
.start {
  text-align: start;
}
.center {
  text-align: center;
}
.end {
  text-align: end;
}
.justify {
  text-align: justify;
}

/* font weight */
.regular {
  font-weight: $font-weight-regular;
}
.medium {
  font-weight: $font-weight-medium;
}
.semiBold {
  font-weight: $font-weight-semibold;
}
.bold {
  font-weight: $font-weight-bold;
}
@include tablet{
  
  .h3 {
    @include font($font-size-04, $font-weight-regular, $line-height-01);
  }

}