@use "@/shared/scss/all" as *;
.avatar {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  overflow: hidden;
  @include flexbox(center, center, 2px);
  & .name {
    letter-spacing: 1px;
    @include font(12px, 500, 22px, #ffffff);
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar_sm {
  width: 28px;
  height: 28px;
  & .name {
    @include font(12px, 500, 22px, #ffffff);
    letter-spacing: 1px;
  }
}
.avatar_md {
  width: 32px;
  height: 32px;
  & .name {
    @include font(13px, 500, 22px, #ffffff);
    letter-spacing: 1px;
  }
}
.avatar_lg {
  width: 36px;
  height: 36px;
  & .name {
    @include font(14px, 500, 22px, #ffffff);
    letter-spacing: 1px;
  }
}
.avatar_xlg {
  width: 40px;
  height: 40px;
  & .name {
    @include font(14px, 500, 22px, #ffffff);
    letter-spacing: 1px;
  }
}
.border_color_black {
  border-color: $black-s15 !important;
}
.border_color_gray {
  border: 2px solid $gray-s6 !important;
}
.border_color_yellow {
  border: 2px solid $yellow-s5 !important;
}
.border_color_blue {
  border: 2px solid $blue-s1 !important;
}
.border_color_red {
  border: 2px solid $red-s4 !important;
}
.border_color_green {
  border: 2px solid $green-s3 !important;
}
.border_color_purple {
  border: 2px solid $purple-s1 !important;
}
@include laptop {
  .avatar {
    cursor: pointer;
  }
}
