@use "./variable" as *;
/*=============================================
=            Bg Colors            =
=============================================*/

$text-color-secondary-500: $gray-s5;
$text-color-dark-1700: $black-s17;
$text-color-dark-1600: $black-s16;
$bg-color-extra-1:$ex-color-s3;

$sds-color-bg: var(--sds-color-bg, $black-s6) !default;
$sds-color-bg-inverse: var(--sds-color-bg-inverse, $black-s15) !default;

$sds-color-bg-surface: var(--sds-color-bg-surface, $black-s1) !default;
$sds-color-bg-surface-hover: var(
  --sds-color-bg-surface-hover,
  $black-s5
) !default;
$sds-color-bg-surface-selected: var(
  --sds-color-bg-surface-selected,
  $black-s4
) !default;
$sds-color-bg-surface-secondary: var(
  --sds-color-bg-surface-secondary,
  $black-s7
) !default;
$sds-color-bg-surface-tertiary: var(
  --sds-color-bg-surface-tertiary,
  $black-s5
) !default;

$sds-color-bg-fill-brand: var(--sds-color-bg-fill-brand, $black-s15) !default;
$sds-color-bg-fill-brand-hover: var(
  --sds-color-bg-fill-brand-hover,
  $black-s16
) !default;
$sds-color-bg-fill-brand-selected: var(
  --sds-color-bg-fill-brand-selected,
  $black-s16
) !default;
$sds-color-bg-fill-brand-disable: var(
  --sds-color-bg-fill-brand-disable,
  $black-s9
) !default;

$sds-color-bg-fill-success: var(
  --sds-color-bg-fill-success,
  $green-s3
) !default;
$sds-color-bg-fill-success-hover: var(
  --sds-color-bg-fill-success-hover,
  $green-s4
) !default;
$sds-color-bg-fill-success-selected: var(
  --sds-color-bg-fill-success-selected,
  $green-s5
) !default;
$sds-color-bg-fill-success-secondary: var(
  --sds-color-bg-fill-success-secondary,
  $green-s1
) !default;
$sds-color-bg-fill-success-secondary: var(
  --sds-color-bg-fill-success-secondary,
  $green-s1
) !default;

$sds-color-bg-fill-warning: var(
  --sds-color-bg-fill-warning,
  $yellow-s3
) !default;
$sds-color-bg-fill-warning-hover: var(
  --sds-color-bg-fill-warning-hover,
  $yellow-s4
) !default;
$sds-color-bg-fill-warning-selected: var(
  --sds-color-bg-fill-warning-selected,
  $yellow-s6
) !default;
$sds-color-bg-fill-warning-secondary: var(
  --sds-color-bg-fill-warning-secondary,
  $yellow-s1
) !default;

$sds-color-bg-fill-critical: var(
  --sds-color-bg-fill-critical,
  $red-s4
) !default;
$sds-color-bg-fill-critical-hover: var(
  --sds-color-bg-fill-critical-hover,
  $red-s5
) !default;
$sds-color-bg-fill-critical-selected: var(
  --sds-color-bg-fill-critical-selected,
  $red-s6
) !default;
$sds-color-bg-fill-critical-secondary: var(
  --sds-color-bg-fill-critical-secondary,
  $red-s1
) !default;

$sds-color-bg-fill-info: var(--sds-color-bg-fill-info, $teal-s3) !default;
$sds-color-bg-fill-info-hover: var(
  --sds-color-bg-fill-info-hover,
  $teal-s4
) !default;
$sds-color-bg-fill-info-selected: var(
  --sds-color-bg-fill-info-selected,
  $teal-s5
) !default;
$sds-color-bg-fill-info-secondary: var(
  --sds-color-bg-fill-info-secondary,
  $teal-s1
) !default;

/*=============================================
=            Text Colors            =
=============================================*/
$sds-color-text-brand: var(--sds-color-text-brand, $black-s15) !default;
$sds-color-text-brand-hover: var(
  --sds-color-text-brand-hover,
  $black-s16
) !default;
$sds-color-text-brand-on-bg-fill: var(
  --sds-color-text-brand-on-bg-fill,
  $black-s1
) !default;
$sds-color-text-brand-on-bg-fill-hover: var(
  --sds-color-text-brand-on-bg-fill-hover,
  $black-s7
) !default;
$sds-color-text-brand-on-bg-fill-active: var(
  --sds-color-text-brand-on-bg-fill-active,
  $black-s9
) !default;
$sds-color-text-brand-on-bg-fill-disable: var(
  --sds-color-text-brand-on-bg-fill-disable,
  $black-s10
) !default;
$sds-color-text-secondary: var(--sds-color-text-secondary, $black-s13) !default;
$sds-color-text-tertiary: var(--sds-color-text-tertiary, $black-s12) !default;
$sds-color-text-disable: var(--sds-color-text-disable, $black-s11) !default;
$sds-color-text-link: var(--sds-color-text-link, $blue-s1) !default;
$sds-color-text-link-hover: var(--sds-color-text-link-hover, $blue-s2) !default;
$sds-color-text-link-active: var(
  --sds-color-text-link-active,
  $blue-s3
) !default;
$sds-color-text-success: var(--sds-color-text-success, $green-s6) !default;
$sds-color-text-warning: var(--sds-color-text-warning, $yellow-s3) !default;
$sds-color-text-critical: var(--sds-color-text-critical, $red-s4) !default;
$sds-color-text-info: var(--sds-color-text-info, $teal-s6) !default;

/*=============================================
=            Icon Colors            =
=============================================*/
$sds-color-icon: var(--sds-color-icon, $black-s13) !default;
$sds-color-icon-hover: var(--sds-color-icon-hover, $black-s15) !default;
$sds-color-icon-active: var(--sds-color-icon-active, $black-s16) !default;
$sds-color-icon-disable: var(--sds-color-icon-disable, $black-s10) !default;
$sds-color-icon-secondary: var(--sds-color-icon-secondary, $black-s15) !default;
$sds-color-icon-secondary-hover: var(
  --sds-color-icon-secondary-hover,
  $black-s16
) !default;
$sds-color-icon-secondary-active: var(
  --sds-color-icon-secondary-active,
  $black-s16
) !default;

/*=============================================
=            Border Colors            =
=============================================*/
$sds-color-border: var(--sds-color-border, $black-s7) !default;
$sds-color-border-hover: var(--sds-color-border-hover, $black-s9) !default;
$sds-color-border-secondary: var(
  --sds-color-border-secondary,
  $black-s8
) !default;
$sds-color-border-focus: var(--sds-color-border-focus, $blue-s1) !default;
$sds-color-border-disable: var(--sds-color-border-disable, $black-s9) !default;
$sds-color-border-info: var(--sds-color-border-info, $teal-s2) !default;
$sds-color-border-success: var(--sds-color-border-success, $green-s2) !default;
$sds-color-border-critical: var(--sds-color-border-critical, $red-s2) !default;
$sds-color-border-warning: var(--sds-color-border-warning, $yellow-s2) !default;

/*=============================================
=            Special Colors            =
=============================================*/
$sds-color-avatar-one-text-on-bg-fill: var(
  --sds-color-avatar-one-text-on-bg-fill,
  $purple-s1
) !default;
$sds-color-avatar-two-text-on-bg-fill: var(
  --sds-color-avatar-two-text-on-bg-fill,
  $green-s3
) !default;
$sds-color-avatar-three-text-on-bg-fill: var(
  --sds-color-avatar-three-text-on-bg-fill,
  $red-s3
) !default;
$sds-color-avatar-four-text-on-bg-fill: var(
  --sds-color-avatar-four-text-on-bg-fill,
  $yellow-s5
) !default;
