$font-family-inter: "Inter", serif;
/*=============================================
=            Colors            =
=============================================*/
/* extra color */
$ex-color-s1: #9d9d9d;
$ex-color-s2: #d0d5dd;

$black-s1: #ffffff;
$black-s2: #fdfdfd;
$black-s3: #fafafa;
$black-s4: #f7f7f7;
$black-s5: #f3f3f3;
$black-s6: #f1f1f1;
$black-s7: #ebebeb;
$black-s8: #e3e3e3;
$black-s9: #d4d4d4;
$black-s10: #cccccc;
$black-s11: #8c9196;
$black-s12: #6d7175;
$black-s13: #616161;
$black-s14: #4a4a4a;
$black-s15: #303030;
$black-s16: #1a1a1a; /* base */
$black-s17: #000000;

$gray-s1: #f0f1f3;
$gray-s2: #d0d3d9;
$gray-s3: #b9bdc7;
$gray-s4: #989fad;
$gray-s5: #858d9d;
$gray-s6: #667085;
$gray-s7: #5d6679;
$gray-s8: #48505e;
$gray-s9: #383e49; /* base */
$gray-s10: #2b2f38;

$red-s1: #fff4f4;
$red-s2: #ffa7a3;
$red-s3: #e66767;
$red-s4: #d82c0d; /* base */
$red-s5: #b5260b;
$red-s6: #8e1f0b;
$red-s7: #d82c0d;
$red-s8: #d82c0d;
$red-s9: #d82c0d;
$red-s10: #d82c0d;
$red-s11: #d82c0d;
$red-s12: #d82c0d;
$red-s13: #d82c0d;
$red-s14: #d82c0d;
$red-s15: #d82c0d;
$red-s16: #d82c0d;

$yellow-s1: #fff5ea;
$yellow-s2: #e1b878;
$yellow-s3: #ffb800;
$yellow-s4: #e5a500;
$yellow-s5: #b98900; /* base */
$yellow-s6: #b28400;
$yellow-s7: #b98900;
$yellow-s8: #b98900;
$yellow-s9: #b98900;
$yellow-s10: #b98900;
$yellow-s11: #b98900;
$yellow-s12: #b98900;
$yellow-s13: #b98900;
$yellow-s14: #b98900;
$yellow-s15: #b98900;
$yellow-s16: #b98900;

$green-s1: #f1f8f5;
$green-s2: #95c9b4;
$green-s3: #008060; /* base */
$green-s4: #136f45;
$green-s5: #0c5132;
$green-s6: #008060;
$green-s7: #008060;
$green-s8: #008060;
$green-s9: #008060;
$green-s10: #008060;
$green-s11: #008060;
$green-s12: #008060;
$green-s13: #008060;
$green-s14: #008060;
$green-s15: #008060;
$green-s16: #008060;

$teal-s1: #ebf9fc;
$teal-s2: #98c6cd;
$teal-s3: #00a0ac; /* base */
$teal-s4: #007a83;
$teal-s5: #00545a;
$teal-s6: #00a0ac;
$teal-s7: #00a0ac;
$teal-s8: #00a0ac;
$teal-s9: #00a0ac;
$teal-s10: #00a0ac;
$teal-s11: #00a0ac;
$teal-s12: #00a0ac;
$teal-s13: #00a0ac;
$teal-s14: #00a0ac;
$teal-s15: #00a0ac;
$teal-s16: #00a0ac;

$blue-s1: #e8f1fd; /* base */
$blue-s2: #b6d3fa;
$blue-s3: #93bdf8;
$blue-s4: #629ff4;
$blue-s5: #448df2;
$blue-s6: #448df2;
$blue-s7: #1570ef;
$blue-s8: #1366d9;
$blue-s9: #0f50aa;
$blue-s10: #0c3e83;
$blue-s11: #092f64;

$purple-s1: #5f27cd; /* base */
$purple-s2: #5f27cd;
$purple-s3: #5f27cd;
$purple-s4: #5f27cd;
$purple-s5: #5f27cd;
$purple-s6: #5f27cd;
$purple-s7: #5f27cd;
$purple-s8: #5f27cd;
$purple-s9: #5f27cd;
$purple-s10: #5f27cd;
$purple-s11: #5f27cd;
$purple-s12: #5f27cd;
$purple-s13: #5f27cd;
$purple-s14: #5f27cd;
$purple-s15: #5f27cd;
$purple-s16: #5f27cd;

$colors: (
  black: (
    s1: #ffffff,
    s2: #fdfdfd,
    s3: #fafafa,
    s4: #f7f7f7,
    s5: #f3f3f3,
    s6: #f1f1f1,
    s7: #ebebeb,
    s8: #e3e3e3,
    s9: #d4d4d4,
    s10: #cccccc,
    s11: #b5b5b5,
    s12: #8a8a8a,
    s13: #616161,
    s14: #4a4a4a,
    s15: #303030,
    /* base */ s16: #1a1a1a,
  ),
  red: (
    s1: #fff4f4,
    s2: #ffa7a3,
    s3: #e66767,
    /* base */ s4: #d82c0d,
    s5: #b5260b,
    s6: #8e1f0b,
    s7: #d82c0d,
    s8: #d82c0d,
    s9: #d82c0d,
    s10: #d82c0d,
    s11: #d82c0d,
    s12: #d82c0d,
    s13: #d82c0d,
    s14: #d82c0d,
    s15: #d82c0d,
    s16: #d82c0d,
  ),
  yellow: (
    s1: #fff5ea,
    s2: #e1bb78,
    s3: #ffb800,
    s4: #e5a500,
    /* base */ s5: #b98900,
    s6: #b28400,
    s7: #b98900,
    s8: #b98900,
    s9: #b98900,
    s10: #b98900,
    s11: #b98900,
    s12: #b98900,
    s13: #b98900,
    s14: #b98900,
    s15: #b98900,
    s16: #b98900,
  ),
  green: (
    s1: #f1f8f5,
    s2: #95c9b4,
    s3: #008060,
    s4: #136f45,
    s5: #0c5132,
    /* base */ s6: #008060,
    s7: #008060,
    s8: #008060,
    s9: #008060,
    s10: #008060,
    s11: #008060,
    s12: #008060,
    s13: #008060,
    s14: #008060,
    s15: #008060,
    s16: #008060,
  ),
  gray: (
    s1: #f0f1f3,
    s2: #d0d3d9,
    s3: #b9bdc7,
    s4: #989fad,
    s5: #858d9d,
    s6: #667085,
    s7: #5d6679,
    s8: #48505e,
    s9: #383e49,
    s10: #2b2f38,
  ),
  teal: (
    s1: #ebf9fc,
    s2: #98c6cd,
    /* base */ s3: #00a0ac,
    s4: #007a83,
    s5: #00545a,
    s6: #00a0ac,
    s7: #00a0ac,
    s8: #00a0ac,
    s9: #00a0ac,
    s10: #00a0ac,
    s11: #00a0ac,
    s12: #00a0ac,
    s13: #00a0ac,
    s14: #00a0ac,
    s15: #00a0ac,
    s16: #00a0ac,
  ),
  blue: (
    s1: #e8f1fd,
    s2: #b6d3fa,
    s3: #93bdf8,
    s4: #629ff4,
    s5: #448df2,
    s6: #448df2,
    s7: #1570ef,
    /* base */ s8: #1366d9,
    s9: #0f50aa,
    s10: #0c3e83,
    s11: #092f64,
  ),
  purple: (
    /* base */ s1: #5f27cd,
    s2: #5f27cd,
    s3: #5f27cd,
    s4: #5f27cd,
    s5: #5f27cd,
    s6: #5f27cd,
    s7: #5f27cd,
    s8: #5f27cd,
    s9: #5f27cd,
    s10: #5f27cd,
    s11: #5f27cd,
    s12: #5f27cd,
    s13: #5f27cd,
    s14: #5f27cd,
    s15: #5f27cd,
    s16: #5f27cd,
  ),
);

/*=============================================
=            Typography            =
=============================================*/

/*----------  Font Family  ----------*/

/**
 *
 * 1) The inter font use for entire design
 *
 * 2) Monospace font use for code.
 */

$font-family-inter: "Inter", -apple-system, BlinkMacSystemFont, "San Francisco",
  "Segoe UI", Roboto, "Helvetica Neue", sans-serif; /* 1 */
$font-family-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas,
  "Liberation Mono", Menlo, monospace; /* 2 */

/*----------  Font Sizes  ----------*/
$font-size-00: 0.75rem; /* 12px */
$font-size-01: 0.875rem; /* 14px */
$font-size-02: 1rem; /* 16px */
$font-size-03: 1.125rem; /* 18px */
$font-size-04: 1.25rem; /* 20px */
$font-size-05: 1.5rem; /*24px  */
$font-size-06: 1.875rem; /* 30px */

$font-size-07: 1.375rem; /* 22px */
$font-size-08: 2.25rem; /*36px  */
$font-size-09: 2.5rem; /*40px  */
$font-size-10: 3rem; /*48px  */

$font-size: (
  00: 0.75rem,
  01: 0.875rem,
  02: 1rem,
  03: 1.125rem,
  04: 1.25rem,
  05: 1.5rem,
  06: 1.875rem,

  07: 1.375rem,
  08: 2.25rem,
  09: 2.5rem,
  10: 3rem,
);

/*----------  Font Line Height  ----------*/
$line-height-01: 1.5rem; /* 24px */
$line-height-02: 1.625rem; /* 26px  */
$line-height-03: 1.75rem; /*  28px*/

$line-height-04: 1.875rem; /* 30px */

$line-height-05: 2.125rem; /* 34px */

$line-height-06: 2.5rem; /* 40px */

$line-height-07: 2rem; /* 32px */

$line-height-08: 2.875rem; /*46px  */

$line-height-09: 3.125rem; /* 50px */
$line-height-10: 3.625rem; /*58px  */

$line-height: (
  01: 1.5rem,
  02: 1.625rem,
  03: 1.75rem,
  04: 1.875rem,
  05: 2.125rem,
  06: 2.5rem,
  07: 2rem,
  08: 2.875rem,
  09: 3.125rem,
  10: 3.625rem,
);

/*----------  Font Weight  ----------*/

$font-weight-regular: 450;
$font-weight-medium: 550;
$font-weight-semibold: 650;
$font-weight-bold: 700;

$font-weight: (
  regular: 450,
  medium: 550,
  semibold: 650,
  bold: 700,
);

/*=============================================
=            Spaces            =
=============================================*/

$space-0: 0rem;
$space-1: 0.063rem; /* 1px */
$space-2: 0.125rem; /* 2px */
$space-3: 0.25rem; /*  4px*/
$space-4: 0.375rem; /* 6px */
$space-5: 0.5rem; /*  8px*/
$space-6: 0.625rem; /* 10px */
$space-7: 0.75rem; /* 12px */
$space-8: 0.875rem; /* 14px */
$space-9: 1rem; /* 16px */
$space-10: 1.125rem; /* 18px */
$space-11: 1.25rem; /* 20px */
$space-12: 1.375rem; /* 22px */
$space-13: 1.5rem; /* 24px */
$space-14: 1.625rem; /* 26px */
$space-15: 1.75rem; /* 28px */
$space-16: 1.875rem; /* 30px */
$space-17: 2rem; /*32px */
$space-18: 2.125rem; /*34px */
$space-19: 2.25rem; /*36px */
$space-20: 2.375rem; /*38px */
$space-21: 2.5rem; /*40px */
$space-22: 2.625rem; /*42px */
$space-23: 2.75rem; /*44px */
$space-24: 2.875rem; /*46px */
$space-25: 3rem; /*48px */
$space-26: 3.125rem; /*50px */
$space-27: 3.25rem; /*52px */
$space-28: 3.375rem; /*54px */
$space-29: 3.5rem; /*56px */
$space-30: 3.625rem; /*58px */
$space-31: 3.75rem; /*60px */
$space-32: 3.875rem; /*62px */
$space-33: 4rem; /*64px */
$space-34: 4.125rem; /*66px */
$space-35: 4.25rem; /*68px */
$space-36: 4.375rem; /*70px */
$space-37: 4.5rem; /*72px */
$space-38: 4.625rem; /*74px */
$space-39: 4.75rem; /*76px */
$space-40: 4.875rem; /*78px */
$space-41: 5rem; /*80px */
$space-42: 5.125rem; /*820px */
$space-43: 5.25rem; /*84px */
$space-44: 5.375rem; /*86px */
$space-45: 5.5rem; /*88px */
$space-46: 5.625rem; /*90px */
$space-47: 5.75rem; /*92px */
$space-48: 5.875rem; /*94px */
$space-49: 6rem; /*96px */
$space-50: 6.125rem; /*98px */
$space-51: 6.25rem; /*100px */
$space-52: 6.375rem; /*102px */
$space-53: 6.5rem; /*104px */
$space-54: 6.625rem; /*106px */
$space-55: 6.75rem; /*108px */
$space-56: 6.875rem; /*110px */
$space-57: 7rem; /*112px */
$space-58: 7.125rem; /*114px */
$space-59: 7.25rem; /*116px */
$space-60: 7.375rem; /*118px */
$space-61: 7.5rem; /*120px */
$space-62: 7.625rem; /*122px */
$space-63: 67.75rem; /*124px */
$space-64: 7.875rem; /*126px */
$space-65: 8rem; /*128px */
$space-66: 8.125rem; /*130px */
$space-67: 8.25rem; /*132px */
$space-68: 8.375rem; /*134px */
$space-69: 8.5rem; /*136px */
$space-70: 8.625rem; /*138px */
$space-71: 8.75rem; /*140px */
$space-72: 8.875rem; /*142px */

$space: (
  0: 0rem,
  1: 0.063rem,
  2: 0.125rem,
  3: 0.25rem,
  4: 0.375rem,
  5: 0.5rem,
  6: 0.625rem,
  7: 0.75rem,
  8: 0.875rem,
  9: 1rem,
  10: 1.125rem,
  11: 1.25rem,
  12: 1.375rem,
  13: 1.5rem,
  14: 1.625rem,
  15: 1.75rem,
  16: 1.875rem,
  17: 2rem,
  18: 2.125rem,
  19: 2.25rem,
  20: 2.375rem,
  21: 2.5rem,
  22: 2.625rem,
  23: 2.75rem,
  24: 2.875rem,
  25: 3rem,
  26: 3.125rem,
  27: 3.25rem,
  28: 3.375rem,
  29: 3.5rem,
  30: 3.625rem,
  31: 3.75rem,
  32: 3.875rem,
  33: 4rem,
  34: 4.125rem,
  35: 4.25rem,
  36: 4.375rem,
  37: 4.5rem,
  38: 4.625rem,
  39: 4.75rem,
  40: 4.875rem,
  41: 5rem,
  42: 5.125rem,
  43: 5.25rem,
  44: 5.375rem,
  45: 5.5rem,
  46: 5.625rem,
  47: 5.75rem,
  48: 5.875rem,
  49: 6rem,
  50: 6.125rem,
  51: 6.25rem,
  52: 6.375rem,
  53: 6.5rem,
  54: 6.625rem,
  55: 6.75rem,
  56: 6.875rem,
  57: 7rem,
  58: 7.125rem,
  59: 7.25rem,
  60: 7.375rem,
  61: 7.5rem,
  62: 7.625rem,
  63: 67.75rem,
  64: 7.875rem,
  65: 8rem,
  66: 8.125rem,
  67: 8.25rem,
  68: 8.375rem,
  69: 8.5rem,
  70: 8.625rem,
  71: 8.75rem,
  72: 8.875rem,
);

/*=============================================
=            Breakpoints            =
=============================================*/
$breakpoints: (
  sm: 36rem,
  /*576px  */ md: 48rem,
  /*768px  */ lg: 64rem,
  /* 1024px */ xl: 85.375rem,
  /* 1366px */
);
