@use "@/shared/scss/all" as *;
.spinner {
  border-radius: 50%;
  will-change: transform;
  animation: spin 700ms infinite linear;
  display: block;
  border-style: solid;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}

.spinner--size-xsm {
  height: $space-9;
  width: $space-9;
  border-width: $space-2;
}

.spinner--size-sm {
  height: $space-11;
  width: $space-11;
  border-width: 2.5px;
}

.spinner--size-md {
  height: $space-17;
  width: $space-17;
  border-width: 2.5px;
}

.spinner--size-lg {
  height: $space-25;
  width: $space-25;
  border-width: 3px;
}

.spinner--size-xlg {
  height: $space-33;
  width: $space-33;
  border-width: 3px;
}

.spinner--variant-default {
  border-color: $sds-color-bg-surface-secondary;
}
.spinner--variant-white {
  border-color: $sds-color-bg-surface;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
