@use "@/shared/scss/all" as *;
.sidebar_area {
  height: 100%;
  position: relative;
  & .cross {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 56px;
    padding: 0px 20px;
    box-shadow: 0 1px 2px rgba(48, 48, 48, 0.1490196078);
    & button {
      padding: 0px;
    }
  }
  & .sidebar_body {
    height: calc(100dvh - 112px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    // margin-top: 56px;
  }
  & .sidebar_footer {
    @include flexbox(_, center);
    height: 56px;
  }
}
@include laptop {
  .sidebar_area {
    height: 100%;
    & .cross {
      display: none;
    }
  }
}
