@use "../variable" as *;

:root {
  --pie-color-black-100: #{$black-s1};
  --pie-color-black-200: #{$black-s2};
  --pie-color-black-300: #{$black-s3};
  --pie-color-black-400: #{$black-s4};
  --pie-color-black-500: #{$black-s5};
  --pie-color-black-600: #{$black-s6};
  --pie-color-black-700: #{$black-s7};
  --pie-color-black-800: #{$black-s8};
  --pie-color-black-900: #{$black-s9};
  --pie-color-black-1000: #{$black-s10};
  --pie-color-black-1100: #{$black-s11};
  --pie-color-black-1200: #{$black-s12};
  --pie-color-black-1300: #{$black-s13};
  --pie-color-black-1400: #{$black-s14};
  --pie-color-black-1500: #{$black-s15};
  --pie-color-black-1600: #{$black-s16};

  --pie-color-gray-100: #{$gray-s1};
  --pie-color-gray-200: #{$gray-s2};
  --pie-color-gray-300: #{$gray-s3};
  --pie-color-gray-400: #{$gray-s4};
  --pie-color-gray-500: #{$gray-s5};
  --pie-color-gray-600: #{$gray-s6};
  --pie-color-gray-700: #{$gray-s7};
  --pie-color-gray-800: #{$gray-s8};
  --pie-color-gray-900: #{$gray-s9};
  --pie-color-gray-1000: #{$gray-s10};

  --pie-color-red-100: #{$red-s1};
  --pie-color-red-200: #{$red-s2};
  --pie-color-red-300: #{$red-s3};
  --pie-color-red-400: #{$red-s4};
  --pie-color-red-500: #{$red-s5};
  --pie-color-red-600: #{$red-s6};
  --pie-color-red-700: #{$red-s7};
  --pie-color-red-800: #{$red-s8};
  --pie-color-red-900: #{$red-s9};
  --pie-color-red-1000: #{$red-s10};
  --pie-color-red-1100: #{$red-s11};
  --pie-color-red-1200: #{$red-s12};
  --pie-color-red-1300: #{$red-s13};
  --pie-color-red-1400: #{$red-s14};
  --pie-color-red-1500: #{$red-s15};
  --pie-color-red-1600: #{$red-s16};

  --pie-color-yellow-100: #{$yellow-s1};
  --pie-color-yellow-200: #{$yellow-s2};
  --pie-color-yellow-300: #{$yellow-s3};
  --pie-color-yellow-400: #{$yellow-s4};
  --pie-color-yellow-500: #{$yellow-s5};
  --pie-color-yellow-600: #{$yellow-s6};
  --pie-color-yellow-700: #{$yellow-s7};
  --pie-color-yellow-800: #{$yellow-s8};
  --pie-color-yellow-900: #{$yellow-s9};
  --pie-color-yellow-1000: #{$yellow-s10};
  --pie-color-yellow-1100: #{$yellow-s11};
  --pie-color-yellow-1200: #{$yellow-s12};
  --pie-color-yellow-1300: #{$yellow-s13};
  --pie-color-yellow-1400: #{$yellow-s14};
  --pie-color-yellow-1500: #{$yellow-s15};
  --pie-color-yellow-1600: #{$yellow-s16};

  --pie-color-green-100: #{$green-s1};
  --pie-color-green-200: #{$green-s2};
  --pie-color-green-300: #{$green-s3};
  --pie-color-green-400: #{$green-s4};
  --pie-color-green-500: #{$green-s5};
  --pie-color-green-600: #{$green-s6};
  --pie-color-green-700: #{$green-s7};
  --pie-color-green-800: #{$green-s8};
  --pie-color-green-900: #{$green-s9};
  --pie-color-green-1000: #{$green-s10};
  --pie-color-green-1100: #{$green-s11};
  --pie-color-green-1200: #{$green-s12};
  --pie-color-green-1300: #{$green-s13};
  --pie-color-green-1400: #{$green-s14};
  --pie-color-green-1500: #{$green-s15};

  --pie-color-teal-100: #{$teal-s1};
  --pie-color-teal-200: #{$teal-s2};
  --pie-color-teal-300: #{$teal-s3};
  --pie-color-teal-400: #{$teal-s4};
  --pie-color-teal-500: #{$teal-s5};
  --pie-color-teal-600: #{$teal-s6};
  --pie-color-teal-700: #{$teal-s7};
  --pie-color-teal-800: #{$teal-s8};
  --pie-color-teal-900: #{$teal-s9};
  --pie-color-teal-1000: #{$teal-s10};
  --pie-color-teal-1100: #{$teal-s11};
  --pie-color-teal-1200: #{$teal-s12};
  --pie-color-teal-1300: #{$teal-s13};
  --pie-color-teal-1400: #{$teal-s14};
  --pie-color-teal-1500: #{$teal-s15};
  --pie-color-teal-1600: #{$teal-s16};

  --pie-color-blue-100: #{$blue-s1};
  --pie-color-blue-200: #{$blue-s2};
  --pie-color-blue-300: #{$blue-s3};
  --pie-color-blue-400: #{$blue-s4};
  --pie-color-blue-500: #{$blue-s5};
  --pie-color-blue-600: #{$blue-s6};
  --pie-color-blue-700: #{$blue-s7};
  --pie-color-blue-800: #{$blue-s8};
  --pie-color-blue-900: #{$blue-s9};
  --pie-color-blue-1000: #{$blue-s10};
  --pie-color-blue-1100: #{$blue-s11};
  --pie-color-blue-1200: #{$blue-s12};
  --pie-color-blue-1300: #{$blue-s13};
  --pie-color-blue-1400: #{$blue-s14};
  --pie-color-blue-1500: #{$blue-s15};
  --pie-color-blue-1600: #{$blue-s16};

  --pie-color-purple-100: #{$purple-s1};
  --pie-color-purple-200: #{$purple-s2};
  --pie-color-purple-300: #{$purple-s3};
  --pie-color-purple-400: #{$purple-s4};
  --pie-color-purple-500: #{$purple-s5};
  --pie-color-purple-600: #{$purple-s6};
  --pie-color-purple-700: #{$purple-s7};
  --pie-color-purple-800: #{$purple-s8};
  --pie-color-purple-900: #{$purple-s9};
  --pie-color-purple-1000: #{$purple-s10};
  --pie-color-purple-1100: #{$purple-s11};
  --pie-color-purple-1200: #{$purple-s12};
  --pie-color-purple-1300: #{$purple-s13};
  --pie-color-purple-1400: #{$purple-s14};
  --pie-color-purple-1500: #{$purple-s15};
  --pie-color-purple-1600: #{$purple-s16};
  /* ------------------------------------------------------------- */
  --sds-color-bg: #{$black-s6};
  --sds-color-bg-inverse: #{$black-s15};
  --sds-color-bg-surface: #{$black-s1};
  --sds-color-bg-surface-hover: #{$black-s5};
  --sds-color-bg-surface-selected: #{$black-s4};
  --sds-color-bg-surface-secondary: #{$black-s7};
  --sds-color-bg-surface-tertiary: #{$black-s5};
  --sds-color-bg-fill-brand: #{$black-s15};
  --sds-color-bg-fill-brand-hover: #{$black-s16};
  --sds-color-bg-fill-brand-selected: #{$black-s16};
  --sds-color-bg-fill-brand-disable: #{$black-s9};
  --sds-color-bg-fill-success: #{$green-s3};
  --sds-color-bg-fill-success-hover: #{$green-s4};
  --sds-color-bg-fill-success-selected: #{$green-s5};
  --sds-color-bg-fill-success-secondary: #{$green-s1};
  --sds-color-bg-fill-success-secondary: #{$green-s1};
  --sds-color-bg-fill-warning: #{$yellow-s3};
  --sds-color-bg-fill-warning-hover: #{$yellow-s4};
  --sds-color-bg-fill-warning-selected: #{$yellow-s6};
  --sds-color-bg-fill-warning-secondary: #{$yellow-s1};
  --sds-color-bg-fill-critical: #{$red-s4};
  --sds-color-bg-fill-critical-hover: #{$red-s5};
  --sds-color-bg-fill-critical-selected: #{$red-s6};
  --sds-color-bg-fill-critical-secondary: #{$red-s1};
  --sds-color-bg-fill-info: #{$teal-s3};
  --sds-color-bg-fill-info-hover: #{$teal-s4};
  --sds-color-bg-fill-info-selected: #{$teal-s5};
  --sds-color-bg-fill-info-secondary: #{$teal-s1};
  --sds-color-text-brand: #{$black-s15};
  --sds-color-text-brand-hover: #{$black-s16};
  --sds-color-text-brand-on-bg-fill: #{$black-s1};
  --sds-color-text-brand-on-bg-fill-hover: #{$black-s7};
  --sds-color-text-brand-on-bg-fill-active: #{$black-s9};
  --sds-color-text-brand-on-bg-fill-disable: #{$black-s10};
  --sds-color-text-secondary: #{$black-s13};
  --sds-color-text-tertiary: #{$black-s12};
  --sds-color-text-disable: #{$black-s11};
  --sds-color-text-link: #{$blue-s1};
  --sds-color-text-link-hover: #{$blue-s2};
  --sds-color-text-link-active: #{$blue-s3};
  --sds-color-text-success: #{$green-s6};
  --sds-color-text-warning: #{$yellow-s3};
  --sds-color-text-critical: #{$red-s4};
  --sds-color-text-info: #{$teal-s6};
  --sds-color-icon: #{$black-s13};
  --sds-color-icon-hover: #{$black-s15};
  --sds-color-icon-active: #{$black-s16};
  --sds-color-icon-disable: #{$black-s10};
  --sds-color-icon-secondary: #{$black-s15};
  --sds-color-icon-secondary-hover: #{$black-s16};
  --sds-color-icon-secondary-active: #{$black-s16};
  --sds-color-border: #{$black-s7};
  --sds-color-border-hover: #{$black-s9};
  --sds-color-border-secondary: #{$black-s8};
  --sds-color-border-focus: #{$blue-s1};
  --sds-color-border-disable: #{$black-s9};
  --sds-color-border-info: #{$teal-s2};
  --sds-color-border-success: #{$green-s2};
  --sds-color-border-critical: #{$red-s2};
  --sds-color-border-warning: #{$yellow-s2};
  --sds-color-avatar-one-text-on-bg-fill: #{$purple-s1};
  --sds-color-avatar-two-text-on-bg-fill: #{$green-s3};
  --sds-color-avatar-three-text-on-bg-fill: #{$red-s3};
  --sds-color-avatar-four-text-on-bg-fill: #{$yellow-s5};

  --sds-body-font-family: #{$font-family-inter};

  /* -------------------------------------------- */

  /* -------------------------------------------- */
  --sds-text-heading-xsm-font-size: #{$font-size-03};
  --sds-text-heading-xsm-line-height: #{$line-height-03};
  --sds-text-heading-xsm-font-weight: #{$font-weight-semibold};
  --sds-text-heading-xsm-font-family: #{$font-family-inter};
  --sds-text-heading-sm-font-size: #{$font-size-04};
  --sds-text-heading-sm-line-height: #{$line-height-03};
  --sds-text-heading-sm-font-weight: #{$font-weight-semibold};
  --sds-text-heading-sm-font-family: #{$font-family-inter};
  --sds-text-heading-md-font-size: #{$font-size-05};
  --sds-text-heading-md-line-height: #{$line-height-04};
  --sds-text-heading-md-font-weight: #{$font-weight-semibold};
  --sds-text-heading-md-font-family: #{$font-family-inter};
  --sds-text-heading-lg-font-size: #{$font-size-06};
  --sds-text-heading-lg-line-height: #{$line-height-05};
  --sds-text-heading-lg-font-weight: #{$font-weight-semibold};
  --sds-text-heading-lg-font-family: #{$font-family-inter};
  --sds-text-heading-xl-font-size: #{$font-size-07};
  --sds-text-heading-xl-line-height: #{$line-height-06};
  --sds-text-heading-xl-font-weight: #{$font-weight-bold};
  --sds-text-heading-xl-font-family: #{$font-family-inter};
  --sds-text-heading-2xl-font-size: #{$font-size-08};
  --sds-text-heading-2xl-line-height: #{$line-height-07};
  --sds-text-heading-2xl-font-weight: #{$font-weight-bold};
  --sds-text-heading-2xl-font-family: #{$font-family-inter};
  --sds-text-heading-3xl-font-size: #{$font-size-09};
  --sds-text-heading-3xl-line-height: #{$line-height-08};
  --sds-text-heading-3xl-font-weight: #{$font-weight-bold};
  --sds-text-heading-3xl-font-family: #{$font-family-inter};
  --sds-text-body-xs-font-size: #{$font-size-01};
  --sds-text-body-xs-line-height: #{$line-height-01};
  --sds-text-body-xs-font-weight: #{$font-weight-regular};
  --sds-text-body-xs-font-family: #{$font-family-inter};
  --sds-text-body-sm-font-size: #{$font-size-02};
  --sds-text-body-sm-line-height: #{$line-height-02};
  --sds-text-body-sm-font-weight: #{$font-weight-regular};
  --sds-text-body-sm-font-family: #{$font-family-inter};
  --sds-text-body-md-font-size: #{$font-size-03};
  --sds-text-body-md-line-height: #{$line-height-03};
  --sds-text-body-md-font-weight: #{$font-weight-regular};
  --sds-text-body-md-font-family: #{$font-family-inter};
  --sds-text-body-lg-font-size: #{$font-size-04};
  --sds-text-body-lg-line-height: #{$line-height-03};
  --sds-text-body-lg-font-weight: #{$font-weight-regular};
  --sds-text-body-lg-font-family: #{$font-family-inter};
}
