@use "../variable" as *;

:root {
  --akjm-color-bg: #{$black-s6};
  --akjm-color-bg-inverse: #{$black-s15};
  --akjm-color-bg-surface: #{$black-s1};
  --akjm-color-bg-surface-hover: #{$black-s5};
  --akjm-color-bg-surface-selected: #{$black-s4};
  --akjm-color-bg-surface-secondary: #{$black-s7};
  --akjm-color-bg-surface-tertiary: #{$black-s5};
  --akjm-color-bg-fill-brand: #{$black-s15};
  --akjm-color-bg-fill-brand-hover: #{$black-s16};
  --akjm-color-bg-fill-brand-selected: #{$black-s16};
  --akjm-color-bg-fill-brand-disable: #{$black-s9};
  --akjm-color-bg-fill-success: #{$green-s3};
  --akjm-color-bg-fill-success-hover: #{$green-s4};
  --akjm-color-bg-fill-success-selected: #{$green-s5};
  --akjm-color-bg-fill-success-secondary: #{$green-s1};
  --akjm-color-bg-fill-success-secondary: #{$green-s1};
  --akjm-color-bg-fill-warning: #{$yellow-s3};
  --akjm-color-bg-fill-warning-hover: #{$yellow-s4};
  --akjm-color-bg-fill-warning-selected: #{$yellow-s6};
  --akjm-color-bg-fill-warning-secondary: #{$yellow-s1};
  --akjm-color-bg-fill-critical: #{$red-s4};
  --akjm-color-bg-fill-critical-hover: #{$red-s5};
  --akjm-color-bg-fill-critical-selected: #{$red-s6};
  --akjm-color-bg-fill-critical-secondary: #{$red-s1};
  --akjm-color-bg-fill-info: #{$teal-s3};
  --akjm-color-bg-fill-info-hover: #{$teal-s4};
  --akjm-color-bg-fill-info-selected: #{$teal-s5};
  --akjm-color-bg-fill-info-secondary: #{$teal-s1};
  --akjm-color-text-brand: #{$black-s15};
  --akjm-color-text-brand-hover: #{$black-s16};
  --akjm-color-text-brand-on-bg-fill: #{$black-s1};
  --akjm-color-text-brand-on-bg-fill-hover: #{$black-s7};
  --akjm-color-text-brand-on-bg-fill-active: #{$black-s9};
  --akjm-color-text-brand-on-bg-fill-disable: #{$black-s10};
  --akjm-color-text-secondary: #{$black-s13};
  --akjm-color-text-tertiary: #{$black-s12};
  --akjm-color-text-disable: #{$black-s11};
  --akjm-color-text-link: #{$blue-s1};
  --akjm-color-text-link-hover: #{$blue-s2};
  --akjm-color-text-link-active: #{$blue-s3};
  --akjm-color-text-success: #{$green-s6};
  --akjm-color-text-warning: #{$yellow-s3};
  --akjm-color-text-critical: #{$red-s4};
  --akjm-color-text-info: #{$teal-s6};
  --akjm-color-icon: #{$black-s13};
  --akjm-color-icon-hover: #{$black-s15};
  --akjm-color-icon-active: #{$black-s16};
  --akjm-color-icon-disable: #{$black-s10};
  --akjm-color-icon-secondary: #{$black-s15};
  --akjm-color-icon-secondary-hover: #{$black-s16};
  --akjm-color-icon-secondary-active: #{$black-s16};
  --akjm-color-border: #{$black-s7};
  --akjm-color-border-hover: #{$black-s9};
  --akjm-color-border-secondary: #{$black-s8};
  --akjm-color-border-focus: #{$blue-s1};
  --akjm-color-border-disable: #{$black-s9};
  --akjm-color-border-info: #{$teal-s2};
  --akjm-color-border-success: #{$green-s2};
  --akjm-color-border-critical: #{$red-s2};
  --akjm-color-border-warning: #{$yellow-s2};
  --akjm-color-avatar-one-text-on-bg-fill: #{$purple-s1};
  --akjm-color-avatar-two-text-on-bg-fill: #{$green-s3};
  --akjm-color-avatar-three-text-on-bg-fill: #{$red-s3};
  --akjm-color-avatar-four-text-on-bg-fill: #{$yellow-s5};
  --akjm-body-font-family: #{$font-family-inter};
  --akjm-text-heading-xsm-font-size: #{$font-size-03};
  --akjm-text-heading-xsm-line-height: #{$line-height-03};
  --akjm-text-heading-xsm-font-weight: #{$font-weight-semibold};
  --akjm-text-heading-xsm-font-family: #{$font-family-inter};
  --akjm-text-heading-sm-font-size: #{$font-size-04};
  --akjm-text-heading-sm-line-height: #{$line-height-03};
  --akjm-text-heading-sm-font-weight: #{$font-weight-semibold};
  --akjm-text-heading-sm-font-family: #{$font-family-inter};
  --akjm-text-heading-md-font-size: #{$font-size-05};
  --akjm-text-heading-md-line-height: #{$line-height-04};
  --akjm-text-heading-md-font-weight: #{$font-weight-semibold};
  --akjm-text-heading-md-font-family: #{$font-family-inter};
  --akjm-text-heading-lg-font-size: #{$font-size-06};
  --akjm-text-heading-lg-line-height: #{$line-height-05};
  --akjm-text-heading-lg-font-weight: #{$font-weight-semibold};
  --akjm-text-heading-lg-font-family: #{$font-family-inter};
  --akjm-text-heading-xl-font-size: #{$font-size-07};
  --akjm-text-heading-xl-line-height: #{$line-height-06};
  --akjm-text-heading-xl-font-weight: #{$font-weight-bold};
  --akjm-text-heading-xl-font-family: #{$font-family-inter};
  --akjm-text-heading-2xl-font-size: #{$font-size-08};
  --akjm-text-heading-2xl-line-height: #{$line-height-07};
  --akjm-text-heading-2xl-font-weight: #{$font-weight-bold};
  --akjm-text-heading-2xl-font-family: #{$font-family-inter};
  --akjm-text-heading-3xl-font-size: #{$font-size-09};
  --akjm-text-heading-3xl-line-height: #{$line-height-08};
  --akjm-text-heading-3xl-font-weight: #{$font-weight-bold};
  --akjm-text-heading-3xl-font-family: #{$font-family-inter};
  --akjm-text-body-xs-font-size: #{$font-size-01};
  --akjm-text-body-xs-line-height: #{$line-height-01};
  --akjm-text-body-xs-font-weight: #{$font-weight-regular};
  --akjm-text-body-xs-font-family: #{$font-family-inter};
  --akjm-text-body-sm-font-size: #{$font-size-02};
  --akjm-text-body-sm-line-height: #{$line-height-02};
  --akjm-text-body-sm-font-weight: #{$font-weight-regular};
  --akjm-text-body-sm-font-family: #{$font-family-inter};
  --akjm-text-body-md-font-size: #{$font-size-03};
  --akjm-text-body-md-line-height: #{$line-height-03};
  --akjm-text-body-md-font-weight: #{$font-weight-regular};
  --akjm-text-body-md-font-family: #{$font-family-inter};
  --akjm-text-body-lg-font-size: #{$font-size-04};
  --akjm-text-body-lg-line-height: #{$line-height-03};
  --akjm-text-body-lg-font-weight: #{$font-weight-regular};
  --akjm-text-body-lg-font-family: #{$font-family-inter};
}
